In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
def normalize(x):
    dictionary = eval(x)
    if dictionary:
        return list(dictionary.values())

In [3]:
movies = pd.read_csv(
    '../data/raw/movie.metadata.tsv',
    converters={'languages': normalize, 'countries': normalize, 'genres': normalize},
    delimiter='\t',
    header=None,
    index_col='id',
    names='id name date revenue runtime languages countries genres'.split(),
    usecols=[0, 2, 3, 4, 5, 6, 7, 8]
).assign(date=lambda x: pd.to_datetime(x.date, errors='coerce'))
movies.head()

,name,date,revenue,runtime,languages,countries,genres
id,,,,,,,
975900,Ghosts of Mars,2001-08-24,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
3196793,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,[English Language],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]"
28463795,Brun bitter,1988-01-01,NaN,83.0,[Norwegian Language],[Norway],"[Crime Fiction, Drama]"
9363483,White Of The Eye,1987-01-01,NaN,110.0,[English Language],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri..."
261236,A Woman in Flames,1983-01-01,NaN,106.0,[German Language],[Germany],[Drama]

In [4]:
summaries = pd.read_csv(
    '../data/raw/plot_summaries.txt',
    delimiter='\t',
    header=None,
    index_col='id',
    names='id summary'.split())
summaries.head()

                                                    summary
id
23890098  Shlykov, a hard-working taxi driver and Lyosha...
31186339  The nation of Panem consists of a wealthy Capi...
20663735  Poovalli Induchoodan  is sentenced for six yea...
2231378   The Lemon Drop Kid , a New York City swindler,...
595909    Seventh-day Adventist Church pastor Michael Ch...

In [5]:
df = movies.merge(summaries, on='id').sort_values('date').reset_index(drop=True)
df.head()

,name,date,revenue,runtime,languages,countries,genres,summary
0,Blacksmith Scene,1893-01-01,NaN,0.566667,[Silent film],[United States of America],"[Short Film, Silent film, Indie, Black-and-white]",The scene is all filmed from a stationary came...
1,Miss Jerry,1894-10-09,NaN,NaN,[Silent film],[United States of America],"[Short Film, Silent film, Indie, Black-and-white]",After finding out that her father is suffering...
2,Corbett and Courtney Before the Kinetograph,1894-11-17,NaN,NaN,[Silent film],[United States of America],"[Short Film, Silent film, Indie, Black-and-white]",James J. Corbett and Peter Courtney both take ...
3,Opening of the Kiel Canal,1895-01-01,NaN,0.300000,[Silent film],[United Kingdom],"[Short Film, Silent film, Indie, Documentary]",The film opens with a shot of the North Sea Ca...
4,Workers Leaving the Lumiere Factory,1895-01-01,NaN,0.766667,"[French Language, Silent film]",[France],"[Short Film, Silent film, Indie, Black-and-white]",The film consists of a single scene in which w...

In [6]:
ProfileReport(df).to_file('report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))